.publications-card {
  box-sizing: border-box;
  width: 348px;
  height: 548px;
  box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
  color: #000D26;
  position: relative;
  flex: 0 0 auto;
}

.publications-card:hover .publications-card__image {
  height: 158px;
}

.publications-card:hover .publications-card__info {
  border-radius: inherit;
}