.publications-card__text {
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

@media screen and (max-width: 600px) {
  .publications-card__text {
    font-size: 12px;
    line-height: 16px;
    -webkit-line-clamp: 8;
  }
}