.header__logo {
  max-width: 150px;
  max-height: 54px;
  margin: 13px 0 13px 0;
}
  
@media screen and (max-width: 1160px) {
  .header__logo {
    max-width: 120px;
    max-height: 50px;
  }
}

@media screen and (max-width: 769px) {
  .header__logo {
    max-width: 71px;
    max-height: 24px;
    margin: 0 auto;
  }
}

  