.lead {
  background-image: url(../../images/header/Background.png);
  max-width: 1440px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 1024px;
  }
}
  
@media screen and (max-width: 769px) {
  .lead {
    max-width: 769px;
    transform: scale(-1, 1)
  }
}