.our-team__card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 255px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    min-width: 255px;
}

.about-us__card {
    width: 348px;
    min-width: 288px;
    /* height: 340px; */
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    background-color: #E0F0FF;
    border-radius: 10px;
}

@media screen and (max-width:545px) {
    .our-team__card {
        width: 100%;
        margin: 0 auto;
    }
}