.our-team__card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 255px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}