.footer__column_content_contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row: 2/4;
}

@media screen and (max-width: 900px) {
  .footer__column_content_contact-info {
    grid-row: 3/6;
    line-height: 20px;
  }
}

@media screen and (max-width: 680px) {
  .footer__column_content_contact-info {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}