.our-team {
    max-width: 100%;
    margin: 0 auto;
    padding: 124px 39px 0 39px;
    background: #001337;
    height: 100%;
}

@media screen and (max-width:700px) {
    .our-team {
        padding: 60px 20px 0 20px;
    }
}