.our-team__name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    letter-spacing: .8px;
    color: #000D26;
    margin: 20px auto 4px auto;
}