.lab-card__content {
  padding: 30px 20px 20px;
}

@media screen and (max-width: 768px) {
  .lab-card__content {
    padding: 12px;
  }

}
@media screen and (max-width: 320px) {
  .lab-card__content {
    padding: 10px;
  }

}
