.carousel__button_background_blue{
    background-color: #001337;
}
.carousel__button_background_blue:focus{
    background-color: #009FAC;
}


@media all and (max-width:545px){
    .carousel__button_background_blue{
        display: none;
}}