.header__item {
  margin: 0 20px 0 0;
  width: 100px;
  text-align: center;
  padding-bottom: 12px;
  visibility: visible;
  border-bottom: none;
  transition: border-bottom .1s linear;
  font-weight: 400;
  transition: font-weight .1s linear;
}

.header__item:hover {
  border-bottom: 2px solid #009FAC;
  font-weight: 600;
}

.header__item:last-child {
  margin: 0;
}

@media screen and (max-width: 1380px) {
  .header__item {
    margin: 0 10px 0 0;
  }
}

 
@media screen and (max-width: 769px) {
  .header__item {
    visibility: collapse;
    width: 0px;
    height: 0px;
  }
}