.footer__copyright-text {
  max-width: 278px;
  margin: 0;
  grid-column: 1/2;
  grid-row: 3/4;
}


@media screen and (max-width: 900px) {
  .footer__copyright-text {
    max-width: 204px;
    line-height: 20px;
  }
}

@media screen and (max-width: 680px) {
  .footer__copyright-text {
    display: none;
  }
}