.publications {
  box-sizing: border-box;
  min-height: 1174px;
  padding: 80px 0 0;
  background-color: #E0F0FF;
}

@media screen and (max-width: 1280px) {
  .publications {
    min-height: 981px;
    padding: 60px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .publications {
    min-height: 789px;
    padding: 40px 0 0;
  }
}