.publications-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0 0 4px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media screen and (max-width: 600px) {
  .publications-card__title {
    font-size: 14px;
    line-height: 19px;
  }
}