.lab__photo {
  /* max-width: 264px; */
  /* max-height: 276px; */
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.lab__photo:last-child {
 margin-left: 7px;
}
@media screen and (max-width: 1350px) {
  .lab__photo:nth-child(1) {
    display: none;
  }
  .lab__photo {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .lab__photo:last-child {
    margin-left: 0;
   }
}
@media screen and (max-width: 320px) {
  .lab__photo {
    width: 100%;
  }

}
