.partners__subtitle {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  background-color: #001337;
  max-width: 920px;
  margin: 0;
}

.partners__subtitle:first-of-type {
  padding-bottom: 20px;
}
