.lead__background{
    width: 100%;
    min-height: 670px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 1440px;
}

@media screen and (max-width: 1024px) {
    .lead__background {
        max-width: 1024px;
        min-height: 648px;
        justify-content: flex-start;
        flex-direction: row-reverse;
    }
  }
  
  @media screen and (max-width: 767px) {
    .lead__background {
        max-width: 767px;
        min-height: 414px;
    }
  }