.projects__card-more {
  display: none;
  color: #001337;
  text-decoration: none;
  font-family: Open Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  transition: opacity .2s linear;

  position: absolute;
  left: 20px;
  bottom: 24.5px;
}


.projects__card-more:hover {
  cursor: pointer;
  opacity: .6;
}