.header-popup__item {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: white;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
}

.header-popup__item:hover{
  font-weight: 600;
}