.about-us__subtitle{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    letter-spacing: 0.1px;

    /* White */

    color: #FFFFFF;
    max-width: 827px;
    margin: 30px auto 45px auto;
    text-align: justify;
}