.our-team__title{
    font-size: 36px;
    line-height: 1.89;
    color: #001337;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px;
    /* position: relative;
    top: -300px; */
}